@media only screen and (max-width: 768px){
    .clock__wrapper {
        text-align: center !important;
        justify-content: center !important;
    }
    .clock__data {
        font-size: 1.1rem !important;
    }
}